body {
  background-color: #0d0d00; /* Dark Blue */
  color: rgb(5, 5, 5);
  font-family: Arial, sans-serif;
  /*background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.5)),url("images.jpg")*/
}
h1 {
  text-align: center;
  padding-top: 20px;
  color: #ecf0ec;
}

.container {
  margin: 50px auto;
  max-width: 500px;
  padding: 20px;
  background-color: white; /* White */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(121, 3, 3, 0.2);
}

form {
  display: flex;
  flex-direction: column;
  background-color: white;
}

label {
  margin-bottom: 8px;
}

input,select{
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit {
  padding: 10px;
  max-width: 100px;
  margin-left: 400px;
  background-color: #000b01;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit:hover {
  background-color: #012503;
}

table {
  margin-top: 10px auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
  border-collapse: collapse;
  text-align: center;
}

button{
  width:70px
}

th,
td {
  background-color: #f9faf9;
  padding: 12px;
  text-align: center;
  align-content: center;
  border-bottom: 1px solid #010000;
  border-left: 1px solid #040000;
  border-right: 1px solid #040000;
  border-top: 1px solid #040000;
}

th {
  background-color: #4caf50;
  text-align: center;
  align-self: center;
}
